* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  font-size: 25px;
}

.form input {
  min-width: 400px;
  display: block;
  margin: 20px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 15px 15px 25px #a8a8a8;
  transition: box-shadow 0.5s;
}

.form input:focus {
  box-shadow: 5px 5px 15px #a8a8a8;
}

.form .btn {
  margin: auto;
  padding: 10px 35px;
  background-color: #f1a566;
  color: #fff;
  border: none;
  font-size: 22px;
  border-radius: 10px;
  box-shadow: 15px 15px 20px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}
.left-section h4 {
  color: red;
  font-size: 15px;
  display: none;
}
.form .btn:hover {
  box-shadow: 5px 5px 15px #aaa;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 50vh;
  width: 50vw;
  position: absolute;
  bottom: 0px;
  font-size: 35px;
}

.left-section .form {
  float: left;
  margin: 35vh auto;
}

.right-section .form {
  margin: 30vh auto;
}
#right-form {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
form .switch-btn {
  font-size: 15px;

  padding: 10px 55px;
  background-color: #f1a566;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 15px 15px 25px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}
form h3 {
  font-size: 20px;
}

form .switch-btn:hover {
  box-shadow: 5px 5px 15px #aaa;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-section .cover h1 {
  position: absolute;
  bottom: 0;
  margin: 60vh auto;
  color: #fff;
  font-size: 50px;
}

.left-section .form-hide {
  visibility: hidden;
}

.right-section .cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right-section .form-hide {
  visibility: hidden;
}

.fade-in-element {
  animation-name: fade-in-element;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#event-preview {
  display: none;
}
.event_container {
  margin-top: 10vh !important;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 800px;
  padding: 30px;
  /* border: 2px solid black;
  border-radius: 20px; */
}

.book {
  min-width: 400px;
  display: block;
  margin: 20px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 15px 15px 25px #a8a8a8;
  transition: box-shadow 0.5s;
}
.book p {
  width: 400px !important;
}

.book:hover {
  box-shadow: 5px 5px 15px #aaa;
}
#addEvent input {
  min-width: 400px;
  display: block;
  margin: 20px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 15px 15px 25px #a8a8a8;
  transition: box-shadow 0.5s;
  box-shadow: 5px 5px 15px #aaa;
}
